<!-- Sidebar -->
<nav id="sidebar">
    <!-- Sidebar Scroll Container -->
    <div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
            <!-- Side Header -->
            <div class="content-header content-header-fullrow px-15">
                <!-- Mini Mode -->
                <div class="content-header-section sidebar-mini-visible-b">
                    <!-- Logo -->
                    <span class="content-header-item font-w700 font-size-xl float-left animated fadeIn">
                        <span class="text-dual-primary-dark">c</span><span class="text-primary">b</span>
                    </span>
                    <!-- END Logo -->
                </div>
                <!-- END Mini Mode -->

                <!-- Normal Mode -->
                <div class="content-header-section text-center align-parent sidebar-mini-hidden">
                    <!-- Close Sidebar, Visible only on mobile screens -->
                    <!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->
                    <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none align-v-r" data-toggle="layout" data-action="sidebar_close">
                        <i class="fa fa-times text-danger"></i>
                    </button>
                    <!-- END Close Sidebar -->

                    <!-- Logo -->
                    <div class="content-header-item">
                        <a class="link-effect font-w700" routerLink="/">
                            <span class="font-size-xl text-dual-primary-dark">ORP SEGUROS</span>
                        </a>
                    </div>
                    <!-- END Logo -->
                </div>
                <!-- END Normal Mode -->
            </div>
            <!-- END Side Header -->

            <!-- Side User -->
            <div class="content-side content-side-full content-side-user px-10 align-parent">
                <!-- Visible only in mini mode -->
                <div class="sidebar-mini-visible-b align-v animated fadeIn">
                    <img class="img-avatar img-avatar32" src="assets/img/avatars/avatar15.jpg" alt="">
                </div>
                <!-- END Visible only in mini mode -->

                <!-- Visible only in normal mode -->
                <div class="sidebar-mini-hidden-b text-center">
                    <a class="img-link" href="be_pages_generic_profile.html">
                        <img class="img-avatar" src="assets/img/avatars/avatar15.jpg" alt="">
                    </a>
                    <ul class="list-inline mt-10">
                        <li class="list-inline-item">
                            <a class="link-effect text-dual-primary-dark font-size-xs font-w600 text-uppercase" href="be_pages_generic_profile.html">Arturo de Ita</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="link-effect text-dual-primary-dark" href="salir.html">
                                <i class="si si-logout"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END Visible only in normal mode -->
            </div>
            <!-- END Side User -->

            <!-- Side Navigation -->
            <div class="content-side content-side-full">
                <ul class="nav-main">
                    <li>
                        <a routerLinkActive="active" routerLink="/admin/dashboard"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                    </li>
                    <li class="nav-main-heading"><span class="sidebar-mini-visible">CL</span><span class="sidebar-mini-hidden">PROSPECTOS</span></li>
                    <li>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-notebook"></i><span class="sidebar-mini-hide">Seguimiento</span></a>
                        <ul>
                            <li>
                                <a routerLinkActive="active" routerLink="/admin/prospects/people">Personas</a>
                            </li>
                            <!--<li>
                                <a routerLinkActive="active" href="prospectos_corporativos.html">Corporativos</a>
                            </li>-->
                        </ul>
                    </li>
                    <li class="nav-main-heading"><span class="sidebar-mini-visible">CL</span><span class="sidebar-mini-hidden">CLIENTES</span></li>
                    <li>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">Directorio</span></a>
                        <ul>
                            <li>
                                <a routerLinkActive="active" routerLink="/admin/clients/people">Personas</a>
                            </li>
                            <!--<li>
                                <a routerLinkActive="active" href="clientes_corporativos.html">Corporativos</a>
                            </li>-->
                        </ul>
                    </li>
                    <!--<li class="nav-main-heading"><span class="sidebar-mini-visible">CO</span><span class="sidebar-mini-hidden">COBRANZA</span></li>
                    <li>
                        <a routerLinkActive="active" href="cobranza_calendario.html"><i class="si si-calendar"></i><span class="sidebar-mini-hide">Calendario</span></a>
                    </li>
                    <li>
                        <a routerLinkActive="active" href="cobranza_estatus_pagos.html"><i class="si si-wallet"></i><span class="sidebar-mini-hide">Estatus Pagos</span></a>
                    </li>
                    <li>
                        <a routerLinkActive="active" href="cobranza_estatus_nopagos.html"><i class="si si-wallet"></i><span class="sidebar-mini-hide">No Pagados</span></a>
                    </li>
                    <li>
                        <a routerLinkActive="active" href="cobranza_estatus_nopagos.html"><i class="si si-wallet"></i><span class="sidebar-mini-hide">Aniversarios</span></a>
                    </li>
                    <li class="nav-main-heading"><span class="sidebar-mini-visible">CO</span><span class="sidebar-mini-hidden">COMPANÍAS</span></li>
                    <li>
                        <a routerLinkActive="active" href="aseguradoras.html"><i class="si si-briefcase"></i><span class="sidebar-mini-hide">Aseguradoras</span></a>
                    </li>
                    <li class="nav-main-heading"><span class="sidebar-mini-visible">RE</span><span class="sidebar-mini-hidden">REPORTES</span></li>
                    <li>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">Reportes</span></a>
                        <ul>
                            <li>
                                <a routerLinkActive="active" href="clientes_personas.html">Prospectos</a>
                            </li>
                            <li>
                                <a routerLinkActive="active" href="clientes_corporativos.html">Clientes</a>
                            </li>
                            <li>
                                <a routerLinkActive="active" href="clientes_corporativos.html">Compañías</a>
                            </li>
                        </ul>
                    </li>-->
                </ul>
            </div>
            <!-- END Side Navigation -->
        </div>
        <!-- Sidebar Content -->
    </div>
    <!-- END Sidebar Scroll Container -->
</nav>
<!-- END Sidebar -->
