<!-- Page Container -->
<div id="page-container" class="sidebar-o sidebar-inverse side-scroll page-header-fixed page-header-glass page-header-inverse">
    <app-sidebar></app-sidebar>
    <app-header></app-header>
    <!-- Main Container -->
    <main id="main-container">
        <app-hero></app-hero>
        <!-- Page Content -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->
