<!-- Hero -->
<div class="bg-image bg-image-bottom" style="background-image: url('assets/img/photos/photo34@2x.jpg');">
    <div class="bg-primary-dark-op">
        <div class="content content-top text-center overflow-hidden">
            <div class="pt-50 pb-20">
                <h1 class="font-w700 text-white mb-10" data-toggle="appear" data-class="animated fadeInUp">Clientes</h1>
            </div>
        </div>
    </div>
</div>
<!-- END Hero -->

<div class="content">
    <!-- Referencias de Contacto -->
    <div class="block">
        <div class="block-header block-header-default">
             <h3 class="block-title"><strong>ACTUALIZAR PÓLIZA</strong></h3>
                <div class="block-options">
                    <a routerLink="." (click)="onSavePolicy()">
                    <button type="button" class="btn btn-alt-success mr-5 mb-5">
                        <i class="fa fa-save mr-5"></i>GUARDAR
                    </button></a>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <!-- Cargar Póliza -->
            <div class="block block-themed">
                <div class="block-header bg-gd-sea">
                    <h3 class="block-title"><strong>CARGAR PÓLIZA</strong></h3>
                </div>

                <div class="block-content">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <div class="block">
                                <div class="form-group text-center">
                                    <form method="post" id="form_policy" enctype="multipart/form-data">
                                        <input type="file" name="orp_policy" id="orp_policy" accept="application/pdf" style="display:none" (change)="onUploadQuotation()">
                                    </form>
                                    <button type="button" class="btn btn-alt-primary min-width-125" data-toggle="tooltip" title="Seleccionar Póliza" (click)="onSelectPolicy()">SELECCIONAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Cargar Póliza -->
            <!-- Detalles Póliza -->
            <div class="block block-themed">
                <div class="block-header bg-gd-sea">
                    <h3 class="block-title"><strong>DETALLES DE LA PÓLIZA</strong></h3>
                </div>

                <div class="block-content">
                    <div class="form-group row col-12">
                        <label>ASEGURADORA</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{policy.insurer}}" disabled="">
                        </div>
                    </div>
                    <div class="form-group row col-12">
                        <label>NO. DE PÓLIZA</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="policy_num" placeholder="1234567789" [(ngModel)]="policy.policy_num">
                        </div>
                    </div>
                    <div class="form-group row col-12">
                        <label>NO. DE CLIENTE</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="policy_client_num" placeholder="1234QWERTY" [(ngModel)]="policy.policy_client_num">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Detalles Póliza -->
        </div>

        <div class="col-lg-8">
            <!-- Detalles de la Póliza -->
            <div class="block block-themed">
                <div class="block-header bg-gd-sea">
                    <h3 class="block-title"><strong>DATOS DE LA PÓLIZA</strong></h3>
                </div>

                <div class="block-content">
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label>FECHA DE EMISIÓN</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="start_validity" placeholder="2018-08-08" [(ngModel)]="policy.start_validity">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label>INICIO DE VIGENCIA</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="application_date" placeholder="2018-08-08" [(ngModel)]="policy.application_date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label>PAGO TOTAL</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-usd"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="total" placeholder="3500.00" [(ngModel)]="policy.total">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <div class="form-group row">
                                        <label class="col-12" for="example-select">FORMA DE PAGO</label>
                                        <div class="col-md-12">
                                            <select class="form-control" id="example-select" name="type_pay" [(ngModel)]="policy.type_pay">
                                                <option value="1">EFECTIVO</option>
                                                <option value="2">TARJETA</option>
                                                <option value="3">TRANSFERENCIA</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <div class="form-group row">
                                        <label class="col-12" for="example-select">TIPO DE PLAN</label>
                                        <div class="col-md-12">
                                            <select class="form-control" id="example-select" name="plan_id" [(ngModel)]="policy.plan_id">
                                                <option value="1">MENSUAL</option>
                                                <option value="2">TRIMESTRAL</option>
                                                <option value="3">SEMESTRAL</option>
                                                <option value="4">ANUAL</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Detalles de la Póliza -->

            <!-- Datos del Beneficiario -->
            <div class="block block-themed">
                <div class="block-header bg-gd-sea">
                    <h3 class="block-title"><strong>DATOS DEL BENEFICIARIO</strong></h3>
                </div>

                <div class="block-content">
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label>NOMBRE(S)</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="name" placeholder="FERNANDO" [(ngModel)]="quotation.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label>APELLIDO PATERNO</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="name_paternal" placeholder="PÉREZ" [(ngModel)]="quotation.name_paternal">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label>APELLIDO MATERNO</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="name_maternal" placeholder="CASTILLO" [(ngModel)]="quotation.name_maternal">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <div class="form-group row">
                                        <label class="col-12" for="example-select">GÉNERO</label>
                                        <div class="col-md-12">
                                            <select class="form-control" id="example-select" name="gender" [(ngModel)]="quotation.gender">
                                                <option value="1">HOMBRE</option>
                                                <option value="2">MUJER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label>FECHA DE NACIMIENTO</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="birthdate" placeholder="2018-08-08" [(ngModel)]="quotation.birthdate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label>EDAD</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="age" placeholder="10 AÑOS" [(ngModel)]="quotation.age">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Datos del Beneficiario -->
        </div>

    </div>

</div>
<!-- END Page Content -->
