<!-- Hero -->
<div class="bg-image bg-image-bottom" style="background-image: url('assets/img/photos/photo34@2x.jpg');">
    <div class="bg-primary-dark-op">
        <div class="content content-top text-center overflow-hidden">
            <div class="pt-50 pb-20">
                <h1 class="font-w700 text-white mb-10 js-appear-enabled animated fadeInUp" data-toggle="appear" data-class="animated fadeInUp">Dashboard</h1>
                <h2 class="h4 font-w400 text-white-op js-appear-enabled animated fadeInUp" data-toggle="appear" data-class="animated fadeInUp">Resumen del Sistema</h2>
            </div>
        </div>
    </div>
</div>
<!-- END Hero -->

<!-- Page Content -->
<div class="content">
    <div class="row gutters-tiny js-appear-enabled animated fadeIn" data-toggle="appear">
        <div class="col-xl-8 d-flex align-items-stretch">
            <div class="block block-themed block-mode-loading-inverse block-transparent bg-image w-100" style="background-image: url('assets/img/photos/photo34@2x.jpg');">
                <div class="block-header bg-black-op">
                    <h3 class="block-title">
                        POLIZAS PAGADAS
                    </h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                        <button type="button" class="btn-block-option">
                            <i class="si si-wrench"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content bg-black-op">
                    <div class="pull-r-l">
                        <!-- Lines Chart Container -->
                        <canvas class="js-chartjs-dashboard-lines"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 d-flex align-items-stretch">
            <div class="block block-transparent bg-primary-dark d-flex align-items-center w-100">
                <div class="block-content block-content-full">
                    <div class="py-15 px-20 clearfix border-black-op-b">
                        <div class="float-right mt-15 d-none d-sm-block">
                            <i class="si si-notebook fa-2x text-info"></i>
                        </div>
                        <div class="font-size-h3 font-w600 text-info" data-toggle="countTo" data-speed="1000" data-to="15">0</div>
                        <div class="font-size-sm font-w600 text-uppercase text-success-light">Prospectos</div>
                    </div>
                    <div class="py-15 px-20 clearfix border-black-op-b">
                        <div class="float-right mt-15 d-none d-sm-block">
                            <i class="si si-wallet fa-2x text-success"></i>
                        </div>
                        <div class="font-size-h3 font-w600 text-success">$<span data-toggle="countTo" data-speed="1000" data-to="120000">0</span></div>
                        <div class="font-size-sm font-w600 text-uppercase text-success-light">Proyección</div>
                    </div>
                    <div class="py-15 px-20 clearfix border-black-op-b">
                        <div class="float-right mt-15 d-none d-sm-block">
                            <i class="si si-users fa-2x text-warning"></i>
                        </div>
                        <div class="font-size-h3 font-w600 text-warning" data-toggle="countTo" data-speed="1000" data-to="58">0</div>
                        <div class="font-size-sm font-w600 text-uppercase text-warning-light">Cotizaciones</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END Row #3 -->
    </div>
</div>
<!-- END Page Content -->
