<!-- User Info -->
<div class="bg-image bg-image-bottom" style="background-image: url('assets/img/photos/photo13@2x.jpg');">
    <div class="bg-primary-dark-op py-30">
        <div class="content content-full text-center">
            <!-- Avatar -->
            <div class="mb-15">
                <a class="img-link" href="be_pages_generic_profile.html">
                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar15.jpg" alt="">
                </a>
            </div>
            <!-- Avatar -->

            <!-- Personal -->
            <h1 class="h3 text-white font-w700 mb-25">{{user.name+' '+user.name_paternal+' '+user.name_maternal}}</h1>
            <!-- Personal -->
        </div>
    </div>
</div>
<!-- User Info -->

<div class="content">
    <!-- Cotizaciones -->
    <div class="block">
        <div class="block-header block-header-default">
             <h3 class="block-title"><strong>PÓLIZAS VIGENTES</strong></h3>
                <div class="block-options">
                    <a routerLink="/admin/clients/people/policy/historic/{{userId}}">
                    <button type="button" class="btn btn-alt-info mr-5 mb-5">
                        <i class="fa fa-history mr-5"></i>HISTORIAL
                    </button></a>
                </div>
        </div>
    </div>
    <div class="row items-push">
        <div class="col-md-6 col-xl-3" *ngFor="let policy of policies">
            <div class="block block-rounded ribbon ribbon-modern ribbon-primary text-center">
                <div class="ribbon-box">$ {{policy.total}}</div>
                <div class="block-content block-content-full block-sticky-options pt-30">
                    <div class="block-options block-options-left">
                        <div class="dropdown">
                            <button type="button" class="btn-block-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-navicon"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" routerLink="/admin/clients/people/policy/update/{{userId}}/{{policy.quotation_id}}/{{policy.quotation_cost_id}}">
                                    <i class="fa fa-fw fa-pencil mr-5"></i>Actualizar
                                </a>
                                <a class="dropdown-item" routerLink="/admin/clients/people/policy/renovate/{{userId}}/{{policy.quotation_id}}/{{policy.quotation_cost_id}}">
                                    <i class="fa fa-fw fa-refresh mr-5"></i>Renovar
                                </a>
                                <a class="dropdown-item" routerLink="/admin/clients/people/policy/endorse/{{userId}}/{{policy.quotation_id}}/{{policy.quotation_cost_id}}">
                                    <i class="fa fa-fw fa-clone mr-5"></i>Endosar
                                </a>
                                <a class="dropdown-item" routerLink=".">
                                    <i class="fa fa-fw fa-exclamation-circle mr-5"></i>Pendiente
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" routerLink="/admin/clients/people/policy/cancel/{{userId}}/{{policy.quotation_id}}/{{policy.quotation_cost_id}}">
                                    <i class="fa fa-fw fa-close mr-5"></i>Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item item-circle bg-danger text-danger-light mx-auto my-20">
                        <i class="fa fa-car"></i>
                    </div>
                    <div class="font-w600 mb-5">{{policy.policy_client_num}}</div>
                </div>
                <div class="block-content block-content-full block-content-sm bg-body-light">
                    <div class="font-w600 mb-5">SEGURO DE AUTO</div>
                    <div class="font-size-sm text-muted">{{policy.car_model}}</div>
                </div>
                <div class="block-content block-content-full">
                    <div>
                        <a href="{{policy.policy_url}}" target="_blank">
                        <button class="btn btn-rounded btn-alt-info min-width-125">VER PÓLIZA</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Pólizas -->

    <!-- Datos Cliente -->
    <div class="block">
        <div class="block-header block-header-default">
             <h3 class="block-title"><strong>INFORMACIÓN PERSONAL</strong></h3>
                <div class="block-options">
                    <a href="clientes_personas_perfil_actualizar.html">
                    <button type="button" class="btn btn-alt-warning mr-5 mb-5">
                        <i class="fa fa-pencil-square-o mr-5"></i>ACTUALIZAR
                    </button></a>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <!-- Datos de Control -->
            <div class="block block-themed">
                <div class="block-header bg-gd-sea">
                    <h3 class="block-title"><strong>DATOS DE CONTROL</strong></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                    </div>
                </div>

                <div class="block-content">
                    <div class="row text-center">
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{user.client_id}}</label>
                                    <div class="col-12 font-size-sm text-muted">ID INTERNO</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">AAA+</label>
                                    <div class="col-12 font-size-sm text-muted">CALIDAD</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{user.source_name}}</label>
                                    <div class="col-12 font-size-sm text-muted">CANAL</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{user.register_date_formated}}</label>
                                    <div class="col-12 font-size-sm text-muted">REGISTRO</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{agent.agent_id}}</label>
                                    <div class="col-12 font-size-sm text-muted">ID OPERADOR</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{agent.name+' '+agent.name_paternal+' '+agent.name_maternal}}</label>
                                    <div class="col-12 font-size-sm text-muted">OPERADOR</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /Datos de Control -->
        </div>
        <div class="col-lg-8">
            <!-- Datos del Cliente -->
            <div class="block block-themed">
                <div class="block-header bg-gd-sea">
                    <h3 class="block-title"><strong>DATOS DEL CLIENTE</strong></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                    </div>
                </div>

                <div class="block-content">
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{user.name}}</label>
                                    <div class="col-12 font-size-sm text-muted">NOMBRE (S)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{user.name_paternal}}</label>
                                    <div class="col-12 font-size-sm text-muted">APELLIDO PATERNO</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{user.name_maternal}}</label>
                                    <div class="col-12 font-size-sm text-muted">APELLIDO MATERNO</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{(user.gender == '1') ? 'HOMBRE' : 'MUJER'}}</label>
                                    <div class="col-12 font-size-sm text-muted">GÉNERO</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12"></label>
                                    <div class="col-12 font-size-sm text-muted">EDAD</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12"></label>
                                    <div class="col-12 font-size-sm text-muted">FECHA DE NACIMIENTO</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12"></label>
                                    <div class="col-12 font-size-sm text-muted">OCUPACIÓN</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12"></label>
                                    <div class="col-12 font-size-sm text-muted">ESTADO CIVIL</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">{{user.email}}</label>
                                    <div class="col-12 font-size-sm text-muted">CORREO ELECTRÓNICO</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /Datos del Cliente -->
        </div>
    </div>

    <!--<div class="row">
        <div class="col-lg-4">
            <div class="block block-themed">
                <div class="block-header bg-gd-sea">
                    <h3 class="block-title"><strong>GEOLOCALIZACIÓN</strong></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                    </div>
                </div>

                <div class="block-content">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.3456391057703!2d-98.25099328572412!3d19.04853505778668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc71dd6590235%3A0x6ee5a54e93aae4f3!2sCorporativo+Zavaleta!5e0!3m2!1ses-419!2smx!4v1526581205654" width="100%" height="230" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="block block-themed">
                <div class="block-header bg-gd-sea">
                    <h3 class="block-title"><strong>DIRECCIÓN DEL CLIENTE</strong></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                    </div>
                </div>

                <div class="block-content">
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">CALZADA ZAVALETA</label>
                                    <div class="col-12 font-size-sm text-muted">CALLE</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">3922</label>
                                    <div class="col-12 font-size-sm text-muted">NO. EXTERIOR</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">PISO 2</label>
                                    <div class="col-12 font-size-sm text-muted">NO. INTERIOR</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">SANTA CRUZ BUENAVISTA</label>
                                    <div class="col-12 font-size-sm text-muted">COLONIA</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">PUEBLA</label>
                                    <div class="col-12 font-size-sm text-muted">CIUDAD</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">PUEBLA</label>
                                    <div class="col-12 font-size-sm text-muted">ESTADO</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">72170</label>
                                    <div class="col-12 font-size-sm text-muted">CÓDIGO POSTAL</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="form-group text-center">
                                    <label class="col-12">MÉXICO</label>
                                    <div class="col-12 font-size-sm text-muted">PAÍS</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>-->

    <!-- Articles -->
    <!--<div class="block">
        <div class="block-header block-header-default">
             <h3 class="block-title"><strong>DOCUMENTOS GUARDADOS</strong></h3>
                <div class="block-options">
                </div>
        </div>
    </div>-->

    <!-- Block Tabs Alternative Style -->
            <!--<div class="block">
                <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#btabs-alt-static-personales">PERSONALES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#btabs-alt-static-vehiculos">VEHÍCULOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#btabs-alt-static-propiedades">PROPIEDADES</a>
                    </li>
                </ul>
                <div class="block-content tab-content">
                    <div class="tab-pane active" id="btabs-alt-static-personales" role="tabpanel">
                        <table class="table table-borderless table-vcenter">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 50px;"></th>
                        <th>DOCUMENTO</th>
                        <th class="d-none d-sm-table-cell" style="width: 15%;">ESTATUS</th>
                        <th class="text-center" style="width: 100px;">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center" scope="row">1</th>
                        <td>IDENTIFICACIÓN OFICIAL</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge badge-success">APROBADO</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Descargar">
                                    <i class="fa fa-download"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Eliminar">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">2</th>
                        <td>COMPROBANTE DE DOMICILIO</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge badge-warning">PENDIENTE</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Descargar">
                                    <i class="fa fa-download"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Eliminar">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">3</th>
                        <td>CÉDULA RFC</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge badge-success">APROBADO</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Descargar">
                                    <i class="fa fa-download"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Eliminar">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">4</th>
                        <td>CÉDULA CURP</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge badge-success">APROBADO</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Descargar">
                                    <i class="fa fa-download"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Eliminar">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
                    </div>
                    <div class="tab-pane" id="btabs-alt-static-vehiculos" role="tabpanel">
                        <h4 class="font-w400">Sin Documentos</h4>
                        <p>...</p>
                    </div>
                    <div class="tab-pane" id="btabs-alt-static-propiedades" role="tabpanel">
                        <h4 class="font-w400">Sin Documentos</h4>
                        <p>...</p>
                    </div>
                    <div class="tab-pane" id="btabs-alt-static-settings" role="tabpanel">
                        <h4 class="font-w400"></h4>
                        <p>...</p>
                    </div>
                </div>
            </div>-->
    <!-- END Block Tabs Alternative Style -->

    <!-- END Articles -->
</div>
<!-- END Main Content -->
